h1, h2, h3,h4,h5,h6 {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.HM-values{
	width:100%;
	margin-bottom:6px;
	.content .sliding-door .nav a{
	 width:50%;
	}
	.tit {
	  font-size:14px;
	  color:#d3a358;
	  margin-top:6px;
	  height:24px;
	  line-height:24px;
	}
	.para{
	  font-size:12px;
	  color:#fff;
	  text-align:justify;
	  margin:6px 0;
	}
	.pictrue-feeling {
	  margin:12px 0;
	  img{
	     width:48%;
         border:2px solid #dcb071;
      &.half-left{
	    float:left;
	  }
	  &.half-right{
	    float:right;
	  }
	  &.col-54{
	   float:left;
	    width:54.9%;
	  }
	  &.col-all{
	   width:100%;
	}
	  &.col-41{
	   float:right;
	    width:41.9%;
	  }
	   &.col-37{
	   float:left;
	    width:37%;
	  }
	}
  }

}

.HM-public .content .sliding-door .nav a{
	 width:33.3%;
}
