.humanity {
    .content {
        width: 100%;
        background: url(../imgs/index/industry-bg.png) no-repeat;
        background-size: 100% 100%;
    }
    .humanity-list {
        width: 94%;
        padding: 10px 0;
        margin: 0 auto 20px;        
    } 
}

.humanity-land {
    margin-bottom: 20px;
    .content {
        width: 100%;
        .title {
            margin: 10px 0;
            font-size: 16px;
            line-height: 16px;
            color: #dcb071;
            text-align: center;
        }
        .secondary {
            margin: 10px 0;
            font-size: 14px;
            line-height: 14px;
            color: #fff;
            text-align: center;
        }
        .box {
            padding: 10px;
            background-color: #fff;
            color: #727171;
            li {
                width: 98%;
                margin: 0 auto;
                line-height: 16px;
                text-align: justify;
            }
        }
    }
}

.humanity-educ {
    margin-bottom: 10px;
    .content .sliding-door .nav a {
        width: 50%;            
    }
    .nav-list {
        dt {
            font-size: 14px;
            line-height: 14px;
            color: #dcb071;
        }
        dd {
            line-height: 18px;
            text-align: justify;
            &.tip {
                padding-top: 10px;
                border-top: 1px dashed #dcb071;
                margin-top: 10px;
                color: #dcb071;
            }
            &.tip-first {
                padding-top: 0;
                border-top: none;
            }
            &.img {
                margin: 10px auto;
            }
            &.img img {
                width: 98.8%;
                border: 2px solid #dcb071;
            }
            &.img-two img {
                width: 47.8%;
            }
            &.img-three img {
                width: 30.8%;
                margin-right: 2%;
            }
            &.text-three span {
                display: inline-block;
                width: 32%;
                margin-right: 2%;
            }
        }
    }
}

.humanity-tourism {
    margin-bottom: 20px;
    text-align: justify;
    .content {
        width: 100%;
        p {
            width: 94%;
            margin: 0 auto;
            &.title {
                margin: 10px auto;
                font-size: 16px;
                line-height: 16px;
                color: #dcb071;
            }
            &.secondary {
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px dashed #dcb071;
                margin: 10px auto;
                font-size: 14px;
                line-height: 14px;
                color: #fff;
                text-indent: 3%;
                &.no-line {
                    padding-bottom: 0;
                    border: none;
                }
            }
            &.text {
                line-height: 18px;
                color: #fff;
                &.btm {
                    padding-bottom: 10px;
                }
            }
        }
    }
}
  