.main-color{
	color:#a06c26;
}
%spill-over{
   overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
h1, h2, h3,h4,h5,h6 {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.index{
	.content{
	width:100%;
	}
}

.content{
	width:100%;
	background:#000000;
	.section-title{
	    width:100%;
	    margin:0 auto;
	    color: #fff;
	    height:38px;
	    line-height:38px;
	    border-bottom: 2px solid #eeeeed;
	.title{
	    font-size:14px;
	    color:#fff;
	    &::after {
		    content: "";
		    display: block;
		    width: 90px;
		    height: 2px;
		    background: #a06c26;
		}
	}
  }
}
.news{
    width:100%;
    margin:0 auto;
    background:#dcb071;
    padding-bottom:10px;
    .section-title{
	    width:96%;
	}
    .news-con{
        width:92%;
        margin:10px auto;
        padding:6px 4px;
        border:2px solid #c09151;
    .picture-l {
        float:left;
        width:35.2%;
    img{
	    border:2px solid  #c09151;
	    }
	}
	@at-root .news-r {
		float:left;
		width: 60%;
        padding-left: 10px;
		h4 {
           margin-top:6px;
           span{
            font-size:14px;
            @extend %spill-over;
           }

		  }		  
		  .main-text{
		    color:#fff;
		    font-size:12px;
            line-height:24px;
             @extend %spill-over;
              -webkit-line-clamp: 1;
		  }
		  .data {
		    color:#fff;
		    font-size:12px;
            line-height:22px; 
		  }
		}
    }
}
.news-list {
	width:96%;
	margin:10px 3% 0;
	.list {
       height:32px;
       line-height:32px;
	  .list-d {
		  float:left;
		  width:18%;
		  font-size:12px;
		  span{
		    color:#fff;
		  }
	  }
      .list-con{
        float:left;
		width:78%;
		border-left:2px solid #8c5f22;
		padding-left:10px;
		 &::before {
		    position: relative;
		    width: 7px;
		    height: 7px;
		    background-color: #8c5f22;
		    text-align: center;
		    line-height:7px;
		    border-radius: 50%;
		    top: -3px;
		    left: -3px;
		}
	    span{
	       color:#fff;
	       font-size:12px;
	       @extend %spill-over;
           -webkit-line-clamp: 1;
	    }
       }		
	}
}
.industry{
    width: 96%;
    margin: 0 auto;
	margin-top:8px;
	.industry-con {
	background:url(../imgs/index/industry-bg.png);
	background-size:contain;
	padding: 10px 0 20px 0;
	}
} 

.communicate {
	width:96%;
	margin:0 auto;
}   
/*首页人文交流-前进按钮*/
#slide-jl {
	margin-top:10px;
}
#slide-jl .swiper-button-prev,
#slide-jl .swiper-button-next {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  width: 6.6%;
  z-index: 99;
}
#slide-jl {
  .swiper-button-prev {
    left:6%;
  }
  .swiper-button-next {
    right: 6%;
  }
}
.swiper-button-next, .swiper-button-prev {
	height: auto;
	margin-top:0;
}
.swiper-button-prev,  .swiper-button-next {
    background-image: none;
}
.word-jl {
	color:#b28956;
	font-size:12px;
	margin:10px 0px;
	text-align: justify;
}
.IMAGE{
     width:96%;
     margin:0 auto;
	#slide-IMAGE {
	 margin:16px 0 20px 0;
	.slide-img {
	  width:47%;
	  margin:0 auto;
	}
	}
}