h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.turelove .content .sliding-door .nav a {
  width: 25%; }

.turelove {
  margin-bottom: 12px; }
  .turelove .tit {
    font-size: 14px;
    color: #d3a358;
    margin-top: 6px;
    height: 24px;
    line-height: 24px; }
  .turelove .para {
    font-size: 12px;
    color: #fff;
    text-align: justify;
    margin: 2px 0;
    line-height: 18px; }
  .turelove .pictureTL {
    margin: 6px 0; }
    .turelove .pictureTL img {
      width: 48%; }
      .turelove .pictureTL img.half-left {
        float: left; }
      .turelove .pictureTL img.half-right {
        float: right; }
      .turelove .pictureTL img.col-46 {
        width: 46%; }
      .turelove .pictureTL img.col-50 {
        width: 50.4%; }
      .turelove .pictureTL img.col-pic {
        width: 99.4%;
        margin: 8px 0; }
      .turelove .pictureTL img.col-41 {
        width: 41%; }
      .turelove .pictureTL img.col-55 {
        width: 55.4%; }
    .turelove .pictureTL .half-left {
      float: left;
      width: 49%; }
      .turelove .pictureTL .half-left img {
        width: 99.6%; }
    .turelove .pictureTL .half-right {
      float: right;
      width: 49%; }
      .turelove .pictureTL .half-right img {
        width: 99.6%; }
  .turelove .page-v {
    width: 100%;
    margin: 10px 0; }
    .turelove .page-v video {
      width: 100%; }
  .turelove #page-v {
    margin-bottom: 4px;
    padding-bottom: 4px;
    width: 100%; }
  .turelove .space {
    margin-top: 20px; }

.pictureTL .list {
  margin: 6px 0; }

.songs-setion {
  margin: 16px 0; }

.songs-setion img {
  width: inherit;
  display: inline-block; }

.songs-setion .fl {
  float: left; }

.songs-bg {
  width: 100%;
  height: 75px;
  background: url(../assets/imgs/turelove99/gaossong-bg.png) no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: relative;
  z-index: 99; }

.songs-left {
  position: absolute;
  top: 14px;
  left: 30px; }

.songs-left p {
  line-height: 24px;
  font-size: 12px;
  margin-bottom: 0px; }

.songs-mid {
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -13%;
  width: 86px;
  height: 86px; }

.songs-mid img {
  display: block;
  width: 100%; }

.songs-right {
  width: 29%;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -26px; }

.songs-right img {
  width: 30px;
  height: 30px;
  margin: 0 8px; }

.songs-left p.gaosongs-name {
  color: #8e5506;
  font-size: 14px; }

.gaosongs-name img {
  display: inline;
  width: 15px;
  height: 15px;
  margin: 4px 0 0 4px; }

.gaosongs-write {
  color: #262626;
  font-size: 12px; }

.play-rotate {
  width: 86px;
  height: 86px;
  cursor: pointer;
  animation: 2.6s infinite rotateMusic linear;
  -webkit-animation: 2.6s infinite rotateMusic linear; }

@keyframes rotateMusic {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
.songs-right .play-box .left {
  width: 25.6rem;
  float: left; }

.songs-right .play-box .left p.timeline {
  width: 20.0rem;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  margin-top: 1.2rem;
  margin-left: 3.0rem;
  position: relative;
  z-index: 2; }

.songs-right .play-box .left p.timeline span {
  position: relative;
  width: 0px;
  height: 4px;
  background-color: #ec6538;
  border-radius: 5px;
  display: block;
  -webkit-transition: width ease-out 0.3s;
  transition: width ease-out 0.3s; }

.songs-right .play-box .left p.timeline span:after {
  content: "";
  position: absolute;
  top: -5px;
  right: -0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #ec6538; }

.songs-right .play-box .left div.info {
  height: 26px;
  font-size: 0.8rem;
  color: #ffffff;
  position: relative;
  top: -0.65rem;
  z-index: 1; }

.songs-right .play-box .info .size {
  float: left;
  display: block;
  position: absolute;
  left: -16px;
  top: 38px; }

.songs-right .play-box .info .timeshow {
  float: right;
  display: block;
  position: absolute;
  right: -19px;
  top: 37px; }

/*# sourceMappingURL=turelove99.css.map */
